// add xs buttons
.btn.btn-xs {
  padding: 0.15rem .3rem;
  font-size: .85rem;
  line-height: 1.4;
  border-radius: .2rem;
}

.reset-btn {
  float: right;
  top: -12px;
  right: 4px;
  position: relative;
}