.breadcrumb {
  align-items: center;

  li {
    margin: 0 5px;
  }
}

.forum-nav-pills {
  padding: 20px 0;

  li{ 

    a {
      padding: 12px 17px;
      border-radius: 5px;
      background-color: #006eff;
      color: white;

      &:hover {
        text-decoration: none;
      }

      &[href="/forum/reports"] {
        display: none;
      }
    }
  }
}

.forum-posts{
  .panel {
    background-color: #f3f3f3;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-bottom: 15px;

    .panel-heading {
      padding: 10px 20px 5px;
      font-size: 12px;
      border-bottom: 1px solid #dbdbdb;

      span {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
      }

      .pull-right {
        margin-left: 10px;
      }
    }
    .panel-body {
      padding: 15px 20px;

      blockquote {
        margin-left: 25px;
        position: relative;
        display: inline-block;
        color: grey;
      }
      blockquote:before {
        content: '\F10d';
        font-family: "Font Awesome 5 Free";
        left: -25px;
        position: absolute;
      }
      blockquote:after {
        content: '\F10e';
        font-family: "Font Awesome 5 Free";
        position: absolute;
        bottom: 0;
        right: -25px;
      }
    }
  }
}