.table-schedule {
  .legend {
    .legend-item {
      padding: 7px 15px;
      margin-right: 10px;
    }
    .legend-red {
      background-color: red;
    }
    .legend-white {
      background-color: white;
    }
    .legend-grey {
      background-color: grey;
    }
  }

  table {

    thead tr {
      th {
        font-size: 14px;
      }
    }

    tbody {
      tr td p {
        margin: 0;
      }

      .handle-sortable {
        cursor: move;
      }

      td:not(.handle-sortable) {
        min-width: 65px;
      }

      .ui-sortable-placeholder {
        height: 51px;
      }
      .matches {
        background-color: red;
      }
      .excluded {
        background-color: rgb(190, 190, 190);
      }

      .tune-name {
        font-size: 14px;
        min-width: 200px;

        span {
          font-size: 12px;

          &::before {
            content: '\A';
            white-space: pre;
          }
        }
      }

      .tune-schedule {
        font-size: 12px;
        min-width: 85px;
        text-align: center;
      }
    }
  }
}