.tune {
  padding: 10px;

  .inner {
    height: 100%;
    border: 1px solid black;
    padding: 10px;

    h5, p {
      text-align: center;
    }

    table td {
      // padding: 0 5px;
      // vertical-align: middle;
      font-size: .9rem;

      &.selector {
        width: 45px;

        .custom-checkbox {
          width: 0;

          .checkmark {
            top: -2px;
            right: -5px;
          }
        }
      }
    }
  }
}