#users-edit {
  #available-schedules {
    .day {
      background: #d8d8d8;
      padding-top: 5px;
    }

    .schedule {
      padding-top: 10px;
      padding-bottom: 10px;

      &:nth-child(2) {
        background: #ffdfd7;
      }
      &:nth-child(3) {
        background: #d7e0ff;
      }
    }
  }

  .bootstrap-select {
    width: 100%;
  }
}