#user-selections {
  position: fixed;
  bottom: 0;
  background-color: #2b2b2b;
  left: 50%;
  transform: translateX(-50%) translateY(calc(100% - 48px));
  color: white;
  min-width: 300px;
  transition: transform 1s;

  &.open {
    transform: translateX(-50%);
  }

  header {
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid;
    cursor: pointer;

    &:hover {
      background-color: #4c4c4c;
    }
  }
  section {
    padding: 5px 20px 20px 20px;
  }

  .user-selections-title {
    font-size: 1.5rem;
  }

  .user-selections-tunes {
    margin: 0;

    li {
      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: blue;
        }
      }

      p {
        font-size: .7rem;
        margin-bottom: 5px;
      }
    }
  }
}