@charset "UTF-8";
body {
  padding-bottom: 50px;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.container-page {
  padding-top: 20px;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  src: url("/font/fontawesome/fa-solid-900.eot");
  src: url("/font/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font/fontawesome/fa-solid-900.woff2") format("woff2"), url("/font/fontawesome/fa-solid-900.ttf") format("truetype"), url("/font/fontawesome/fa-solid-900.svg#fontawesome") format("svg");
}
.glyphicon {
  font-family: "Font Awesome 5 Free";
}

.glyphicon.glyphicon-chevron-up::before {
  content: "";
}

.glyphicon.glyphicon-chevron-right::before {
  content: "";
}

.glyphicon.glyphicon-chevron-left::before {
  content: "";
}

.glyphicon.glyphicon-asterisk::before {
  content: "";
}

.glyphicon.glyphicon-plus::before {
  content: "";
}

.glyphicon.glyphicon-euro::before,
.glyphicon.glyphicon-eur::before {
  content: "";
}

.glyphicon.glyphicon-minus::before {
  content: "";
}

.glyphicon.glyphicon-cloud::before {
  content: "";
}

.glyphicon.glyphicon-envelope::before {
  content: "";
}

.glyphicon.glyphicon-pencil::before {
  content: "";
}

.glyphicon.glyphicon-glass::before {
  content: "";
}

.glyphicon.glyphicon-music::before {
  content: "";
}

.glyphicon.glyphicon-search::before {
  content: "";
}

.glyphicon.glyphicon-heart::before {
  content: "";
}

.glyphicon.glyphicon-star::before {
  content: "";
}

.glyphicon.glyphicon-star-empty::before {
  content: "";
}

.glyphicon.glyphicon-user::before {
  content: "";
}

.glyphicon.glyphicon-film::before {
  content: "";
}

.glyphicon.glyphicon-th-large::before {
  content: "";
}

.glyphicon.glyphicon-th::before {
  content: "";
}

.glyphicon.glyphicon-th-list::before {
  content: "";
}

.glyphicon.glyphicon-ok::before {
  content: "";
}

.glyphicon.glyphicon-remove::before {
  content: "";
}

.glyphicon.glyphicon-zoom-in::before {
  content: "";
}

.glyphicon.glyphicon-zoom-out::before {
  content: "";
}

.glyphicon.glyphicon-off::before {
  content: "";
}

.glyphicon.glyphicon-signal::before {
  content: "";
}

.glyphicon.glyphicon-cog::before {
  content: "";
}

.glyphicon.glyphicon-trash::before {
  content: "";
}

.glyphicon.glyphicon-home::before {
  content: "";
}

.glyphicon.glyphicon-file::before {
  content: "";
}

.glyphicon.glyphicon-time::before {
  content: "";
}

.glyphicon.glyphicon-road::before {
  content: "";
}

.glyphicon.glyphicon-download-alt::before {
  content: "";
}

.glyphicon.glyphicon-download::before {
  content: "";
}

.glyphicon.glyphicon-upload::before {
  content: "";
}

.glyphicon.glyphicon-inbox::before {
  content: "";
}

.glyphicon.glyphicon-play-circle::before {
  content: "";
}

.glyphicon.glyphicon-repeat::before {
  content: "";
}

.glyphicon.glyphicon-refresh::before {
  content: "";
}

.glyphicon.glyphicon-list-alt::before {
  content: "";
}

.glyphicon.glyphicon-lock::before {
  content: "";
}

.glyphicon.glyphicon-flag::before {
  content: "";
}

.glyphicon.glyphicon-headphones::before {
  content: "";
}

.glyphicon.glyphicon-volume-off::before {
  content: "";
}

.glyphicon.glyphicon-volume-down::before {
  content: "";
}

.glyphicon.glyphicon-volume-up::before {
  content: "";
}

.glyphicon.glyphicon-qrcode::before {
  content: "";
}

.glyphicon.glyphicon-barcode::before {
  content: "";
}

.glyphicon.glyphicon-tag::before {
  content: "";
}

.glyphicon.glyphicon-tags::before {
  content: "";
}

.glyphicon.glyphicon-book::before {
  content: "";
}

.glyphicon.glyphicon-bookmark::before {
  content: "";
}

.glyphicon.glyphicon-print::before {
  content: "";
}

.glyphicon.glyphicon-camera::before {
  content: "";
}

.glyphicon.glyphicon-font::before {
  content: "";
}

.glyphicon.glyphicon-bold::before {
  content: "";
}

.glyphicon.glyphicon-italic::before {
  content: "";
}

.glyphicon.glyphicon-text-height::before {
  content: "";
}

.glyphicon.glyphicon-text-width::before {
  content: "";
}

.glyphicon.glyphicon-align-left::before {
  content: "";
}

.glyphicon.glyphicon-align-center::before {
  content: "";
}

.glyphicon.glyphicon-align-right::before {
  content: "";
}

.glyphicon.glyphicon-align-justify::before {
  content: "";
}

.glyphicon.glyphicon-list::before {
  content: "";
}

.glyphicon.glyphicon-indent-left::before {
  content: "";
}

.glyphicon.glyphicon-indent-right::before {
  content: "";
}

.glyphicon.glyphicon-facetime-video::before {
  content: "";
}

.glyphicon.glyphicon-picture::before {
  content: "";
}

.glyphicon.glyphicon-map-marker::before {
  content: "";
}

.glyphicon.glyphicon-adjust::before {
  content: "";
}

.glyphicon.glyphicon-tint::before {
  content: "";
}

.glyphicon.glyphicon-edit::before {
  content: "";
}

.glyphicon.glyphicon-share::before {
  content: "";
}

.glyphicon.glyphicon-check::before {
  content: "";
}

.glyphicon.glyphicon-move::before {
  content: "";
}

.glyphicon.glyphicon-step-backward::before {
  content: "";
}

.glyphicon.glyphicon-fast-backward::before {
  content: "";
}

.glyphicon.glyphicon-backward::before {
  content: "";
}

.glyphicon.glyphicon-play::before {
  content: "";
}

.glyphicon.glyphicon-pause::before {
  content: "";
}

.glyphicon.glyphicon-stop::before {
  content: "";
}

.glyphicon.glyphicon-forward::before {
  content: "";
}

.glyphicon.glyphicon-fast-forward::before {
  content: "";
}

.glyphicon.glyphicon-step-forward::before {
  content: "";
}

.glyphicon.glyphicon-eject::before {
  content: "";
}

.glyphicon.glyphicon-chevron-left::before {
  content: "";
}

.glyphicon.glyphicon-chevron-right::before {
  content: "";
}

.glyphicon.glyphicon-plus-sign::before {
  content: "";
}

.glyphicon.glyphicon-minus-sign::before {
  content: "";
}

.glyphicon.glyphicon-remove-sign::before {
  content: "";
}

.glyphicon.glyphicon-ok-sign::before {
  content: "";
}

.glyphicon.glyphicon-question-sign::before {
  content: "";
}

.glyphicon.glyphicon-info-sign::before {
  content: "";
}

.glyphicon.glyphicon-screenshot::before {
  content: "";
}

.glyphicon.glyphicon-remove-circle::before {
  content: "";
}

.glyphicon.glyphicon-ok-circle::before {
  content: "";
}

.glyphicon.glyphicon-ban-circle::before {
  content: "";
}

.glyphicon.glyphicon-arrow-left::before {
  content: "";
}

.glyphicon.glyphicon-arrow-right::before {
  content: "";
}

.glyphicon.glyphicon-arrow-up::before {
  content: "";
}

.glyphicon.glyphicon-arrow-down::before {
  content: "";
}

.glyphicon.glyphicon-share-alt::before {
  content: "";
}

.glyphicon.glyphicon-resize-full::before {
  content: "";
}

.glyphicon.glyphicon-resize-small::before {
  content: "";
}

.glyphicon.glyphicon-exclamation-sign::before {
  content: "";
}

.glyphicon.glyphicon-gift::before {
  content: "";
}

.glyphicon.glyphicon-leaf::before {
  content: "";
}

.glyphicon.glyphicon-fire::before {
  content: "";
}

.glyphicon.glyphicon-eye-open::before {
  content: "";
}

.glyphicon.glyphicon-eye-close::before {
  content: "";
}

.glyphicon.glyphicon-warning-sign::before {
  content: "";
}

.glyphicon.glyphicon-plane::before {
  content: "";
}

.glyphicon.glyphicon-calendar::before {
  content: "";
}

.glyphicon.glyphicon-random::before {
  content: "";
}

.glyphicon.glyphicon-comment::before {
  content: "";
}

.glyphicon.glyphicon-magnet::before {
  content: "";
}

.glyphicon.glyphicon-chevron-up::before {
  content: "";
}

.glyphicon.glyphicon-chevron-down::before {
  content: "";
}

.glyphicon.glyphicon-retweet::before {
  content: "";
}

.glyphicon.glyphicon-shopping-cart::before {
  content: "";
}

.glyphicon.glyphicon-folder-close::before {
  content: "";
}

.glyphicon.glyphicon-folder-open::before {
  content: "";
}

.glyphicon.glyphicon-resize-vertical::before {
  content: "";
}

.glyphicon.glyphicon-resize-horizontal::before {
  content: "";
}

.glyphicon.glyphicon-hdd::before {
  content: "";
}

.glyphicon.glyphicon-bullhorn::before {
  content: "";
}

.glyphicon.glyphicon-bell::before {
  content: "";
}

.glyphicon.glyphicon-certificate::before {
  content: "";
}

.glyphicon.glyphicon-thumbs-up::before {
  content: "";
}

.glyphicon.glyphicon-thumbs-down::before {
  content: "";
}

.glyphicon.glyphicon-hand-right::before {
  content: "";
}

.glyphicon.glyphicon-hand-left::before {
  content: "";
}

.glyphicon.glyphicon-hand-up::before {
  content: "";
}

.glyphicon.glyphicon-hand-down::before {
  content: "";
}

.glyphicon.glyphicon-circle-arrow-right::before {
  content: "";
}

.glyphicon.glyphicon-circle-arrow-left::before {
  content: "";
}

.glyphicon.glyphicon-circle-arrow-up::before {
  content: "";
}

.glyphicon.glyphicon-circle-arrow-down::before {
  content: "";
}

.glyphicon.glyphicon-globe::before {
  content: "";
}

.glyphicon.glyphicon-wrench::before {
  content: "";
}

.glyphicon.glyphicon-tasks::before {
  content: "";
}

.glyphicon.glyphicon-filter::before {
  content: "";
}

.glyphicon.glyphicon-briefcase::before {
  content: "";
}

.glyphicon.glyphicon-fullscreen::before {
  content: "";
}

.glyphicon.glyphicon-dashboard::before {
  content: "";
}

.glyphicon.glyphicon-paperclip::before {
  content: "";
}

.glyphicon.glyphicon-heart-empty::before {
  content: "";
}

.glyphicon.glyphicon-link::before {
  content: "";
}

.glyphicon.glyphicon-phone::before {
  content: "";
}

.glyphicon.glyphicon-pushpin::before {
  content: "";
}

.glyphicon.glyphicon-usd::before {
  content: "";
}

.glyphicon.glyphicon-gbp::before {
  content: "";
}

.glyphicon.glyphicon-sort::before {
  content: "";
}

.glyphicon.glyphicon-sort-by-alphabet::before {
  content: "";
}

.glyphicon.glyphicon-sort-by-alphabet-alt::before {
  content: "";
}

.glyphicon.glyphicon-sort-by-order::before {
  content: "";
}

.glyphicon.glyphicon-sort-by-order-alt::before {
  content: "";
}

.glyphicon.glyphicon-sort-by-attributes::before {
  content: "";
}

.glyphicon.glyphicon-sort-by-attributes-alt::before {
  content: "";
}

.glyphicon.glyphicon-unchecked::before {
  content: "";
}

.glyphicon.glyphicon-expand::before {
  content: "";
}

.glyphicon.glyphicon-collapse-down::before {
  content: "";
}

.glyphicon.glyphicon-collapse-up::before {
  content: "";
}

.glyphicon.glyphicon-log-in::before {
  content: "";
}

.glyphicon.glyphicon-flash::before {
  content: "";
}

.glyphicon.glyphicon-log-out::before {
  content: "";
}

.glyphicon.glyphicon-new-window::before {
  content: "";
}

.glyphicon.glyphicon-record::before {
  content: "";
}

.glyphicon.glyphicon-save::before {
  content: "";
}

.glyphicon.glyphicon-open::before {
  content: "";
}

.glyphicon.glyphicon-saved::before {
  content: "";
}

.glyphicon.glyphicon-import::before {
  content: "";
}

.glyphicon.glyphicon-export::before {
  content: "";
}

.glyphicon.glyphicon-send::before {
  content: "";
}

.glyphicon.glyphicon-floppy-disk::before {
  content: "";
}

.glyphicon.glyphicon-floppy-saved::before {
  content: "";
}

.glyphicon.glyphicon-floppy-remove::before {
  content: "";
}

.glyphicon.glyphicon-floppy-save::before {
  content: "";
}

.glyphicon.glyphicon-floppy-open::before {
  content: "";
}

.glyphicon.glyphicon-credit-card::before {
  content: "";
}

.glyphicon.glyphicon-transfer::before {
  content: "";
}

.glyphicon.glyphicon-cutlery::before {
  content: "";
}

.glyphicon.glyphicon-header::before {
  content: "";
}

.glyphicon.glyphicon-compressed::before {
  content: "";
}

.glyphicon.glyphicon-earphone::before {
  content: "";
}

.glyphicon.glyphicon-phone-alt::before {
  content: "";
}

.glyphicon.glyphicon-tower::before {
  content: "";
}

.glyphicon.glyphicon-stats::before {
  content: "";
}

.glyphicon.glyphicon-sd-video::before {
  content: "";
}

.glyphicon.glyphicon-hd-video::before {
  content: "";
}

.glyphicon.glyphicon-subtitles::before {
  content: "";
}

.glyphicon.glyphicon-sound-stereo::before {
  content: "";
}

.glyphicon.glyphicon-sound-dolby::before {
  content: "";
}

.glyphicon.glyphicon-sound-5-1::before {
  content: "";
}

.glyphicon.glyphicon-sound-6-1::before {
  content: "";
}

.glyphicon.glyphicon-sound-7-1::before {
  content: "";
}

.glyphicon.glyphicon-copyright-mark::before {
  content: "";
}

.glyphicon.glyphicon-registration-mark::before {
  content: "";
}

.glyphicon.glyphicon-cloud-download::before {
  content: "";
}

.glyphicon.glyphicon-cloud-upload::before {
  content: "";
}

.glyphicon.glyphicon-tree-conifer::before {
  content: "";
}

.glyphicon.glyphicon-tree-deciduous::before {
  content: "";
}

.glyphicon.glyphicon-cd::before {
  content: "";
}

.glyphicon.glyphicon-save-file::before {
  content: "";
}

.glyphicon.glyphicon-open-file::before {
  content: "";
}

.glyphicon.glyphicon-level-up::before {
  content: "";
}

.glyphicon.glyphicon-copy::before {
  content: "";
}

.glyphicon.glyphicon-paste::before {
  content: "";
}

.glyphicon.glyphicon-alert::before {
  content: "";
}

.glyphicon.glyphicon-equalizer::before {
  content: "";
}

.glyphicon.glyphicon-king::before {
  content: "";
}

.glyphicon.glyphicon-queen::before {
  content: "";
}

.glyphicon.glyphicon-pawn::before {
  content: "";
}

.glyphicon.glyphicon-bishop::before {
  content: "";
}

.glyphicon.glyphicon-knight::before {
  content: "";
}

.glyphicon.glyphicon-baby-formula::before {
  content: "";
}

.glyphicon.glyphicon-tent::before {
  content: "";
}

.glyphicon.glyphicon-blackboard::before {
  content: "";
}

.glyphicon.glyphicon-bed::before {
  content: "";
}

.glyphicon.glyphicon-apple::before {
  content: "";
}

.glyphicon.glyphicon-erase::before {
  content: "";
}

.glyphicon.glyphicon-hourglass::before {
  content: "";
}

.glyphicon.glyphicon-lamp::before {
  content: "";
}

.glyphicon.glyphicon-duplicate::before {
  content: "";
}

.glyphicon.glyphicon-piggy-bank::before {
  content: "";
}

.glyphicon.glyphicon-scissors::before {
  content: "";
}

.glyphicon.glyphicon-bitcoin::before {
  content: "";
}

.glyphicon.glyphicon-btc::before {
  content: "";
}

.glyphicon.glyphicon-xbt::before {
  content: "";
}

.glyphicon.glyphicon-yen::before {
  content: "";
}

.glyphicon.glyphicon-jpy::before {
  content: "";
}

.glyphicon.glyphicon-ruble::before {
  content: "";
}

.glyphicon.glyphicon-rub::before {
  content: "";
}

.glyphicon.glyphicon-scale::before {
  content: "";
}

.glyphicon.glyphicon-ice-lolly::before {
  content: "";
}

.glyphicon.glyphicon-ice-lolly-tasted::before {
  content: "";
}

.glyphicon.glyphicon-education::before {
  content: "";
}

.glyphicon.glyphicon-option-horizontal::before {
  content: "";
}

.glyphicon.glyphicon-option-vertical::before {
  content: "";
}

.glyphicon.glyphicon-menu-hamburger::before {
  content: "";
}

.glyphicon.glyphicon-modal-window::before {
  content: "";
}

.glyphicon.glyphicon-oil::before {
  content: "";
}

.glyphicon.glyphicon-grain::before {
  content: "";
}

.glyphicon.glyphicon-sunglasses::before {
  content: "";
}

.glyphicon.glyphicon-text-size::before {
  content: "";
}

.glyphicon.glyphicon-text-color::before {
  content: "";
}

.glyphicon.glyphicon-text-background::before {
  content: "";
}

.glyphicon.glyphicon-object-align-top::before {
  content: "";
}

.glyphicon.glyphicon-object-align-bottom::before {
  content: "";
}

.glyphicon.glyphicon-object-align-horizontal::before {
  content: "";
}

.glyphicon.glyphicon-object-align-left::before {
  content: "";
}

.glyphicon.glyphicon-object-align-vertical::before {
  content: "";
}

.glyphicon.glyphicon-object-align-right::before {
  content: "";
}

.glyphicon.glyphicon-triangle-right::before {
  content: "";
}

.glyphicon.glyphicon-triangle-left::before {
  content: "";
}

.glyphicon.glyphicon-triangle-bottom::before {
  content: "";
}

.glyphicon.glyphicon-triangle-top::before {
  content: "";
}

.glyphicon.glyphicon-console::before {
  content: "";
}

.glyphicon.glyphicon-superscript::before {
  content: "";
}

.glyphicon.glyphicon-subscript::before {
  content: "";
}

.glyphicon.glyphicon-menu-left::before {
  content: "";
}

.glyphicon.glyphicon-menu-right::before {
  content: "";
}

.glyphicon.glyphicon-menu-down::before {
  content: "";
}

.glyphicon.glyphicon-menu-up::before {
  content: "";
}

.glyphicon.glyphicon-transfer::before {
  content: "";
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass::before {
  content: "";
}

.fa-music::before {
  content: "";
}

.fa-search::before {
  content: "";
}

.fa-envelope-o::before {
  content: "";
}

.fa-heart::before {
  content: "";
}

.fa-star::before {
  content: "";
}

.fa-star-o::before {
  content: "";
}

.fa-user::before {
  content: "";
}

.fa-film::before {
  content: "";
}

.fa-th-large::before {
  content: "";
}

.fa-th::before {
  content: "";
}

.fa-th-list::before {
  content: "";
}

.fa-check::before {
  content: "";
}

.fa-remove::before,
.fa-close::before,
.fa-times::before {
  content: "";
}

.fa-search-plus::before {
  content: "";
}

.fa-search-minus::before {
  content: "";
}

.fa-power-off::before {
  content: "";
}

.fa-signal::before {
  content: "";
}

.fa-gear::before,
.fa-cog::before {
  content: "";
}

.fa-trash-o::before {
  content: "";
}

.fa-home::before {
  content: "";
}

.fa-file-o::before {
  content: "";
}

.fa-clock-o::before {
  content: "";
}

.fa-road::before {
  content: "";
}

.fa-download::before {
  content: "";
}

.fa-arrow-circle-o-down::before {
  content: "";
}

.fa-arrow-circle-o-up::before {
  content: "";
}

.fa-inbox::before {
  content: "";
}

.fa-play-circle-o::before {
  content: "";
}

.fa-rotate-right::before,
.fa-repeat::before {
  content: "";
}

.fa-refresh::before {
  content: "";
}

.fa-list-alt::before {
  content: "";
}

.fa-lock::before {
  content: "";
}

.fa-flag::before {
  content: "";
}

.fa-headphones::before {
  content: "";
}

.fa-volume-off::before {
  content: "";
}

.fa-volume-down::before {
  content: "";
}

.fa-volume-up::before {
  content: "";
}

.fa-qrcode::before {
  content: "";
}

.fa-barcode::before {
  content: "";
}

.fa-tag::before {
  content: "";
}

.fa-tags::before {
  content: "";
}

.fa-book::before {
  content: "";
}

.fa-bookmark::before {
  content: "";
}

.fa-print::before {
  content: "";
}

.fa-camera::before {
  content: "";
}

.fa-font::before {
  content: "";
}

.fa-bold::before {
  content: "";
}

.fa-italic::before {
  content: "";
}

.fa-text-height::before {
  content: "";
}

.fa-text-width::before {
  content: "";
}

.fa-align-left::before {
  content: "";
}

.fa-align-center::before {
  content: "";
}

.fa-align-right::before {
  content: "";
}

.fa-align-justify::before {
  content: "";
}

.fa-list::before {
  content: "";
}

.fa-dedent::before,
.fa-outdent::before {
  content: "";
}

.fa-indent::before {
  content: "";
}

.fa-video-camera::before {
  content: "";
}

.fa-photo::before,
.fa-image::before,
.fa-picture-o::before {
  content: "";
}

.fa-pencil::before {
  content: "";
}

.fa-map-marker::before {
  content: "";
}

.fa-adjust::before {
  content: "";
}

.fa-tint::before {
  content: "";
}

.fa-edit::before,
.fa-pencil-square-o::before {
  content: "";
}

.fa-share-square-o::before {
  content: "";
}

.fa-check-square-o::before {
  content: "";
}

.fa-arrows::before {
  content: "";
}

.fa-step-backward::before {
  content: "";
}

.fa-fast-backward::before {
  content: "";
}

.fa-backward::before {
  content: "";
}

.fa-play::before {
  content: "";
}

.fa-pause::before {
  content: "";
}

.fa-stop::before {
  content: "";
}

.fa-forward::before {
  content: "";
}

.fa-fast-forward::before {
  content: "";
}

.fa-step-forward::before {
  content: "";
}

.fa-eject::before {
  content: "";
}

.fa-chevron-left::before {
  content: "";
}

.fa-chevron-right::before {
  content: "";
}

.fa-plus-circle::before {
  content: "";
}

.fa-minus-circle::before {
  content: "";
}

.fa-times-circle::before {
  content: "";
}

.fa-check-circle::before {
  content: "";
}

.fa-question-circle::before {
  content: "";
}

.fa-info-circle::before {
  content: "";
}

.fa-crosshairs::before {
  content: "";
}

.fa-times-circle-o::before {
  content: "";
}

.fa-check-circle-o::before {
  content: "";
}

.fa-ban::before {
  content: "";
}

.fa-arrow-left::before {
  content: "";
}

.fa-arrow-right::before {
  content: "";
}

.fa-arrow-up::before {
  content: "";
}

.fa-arrow-down::before {
  content: "";
}

.fa-mail-forward::before,
.fa-share::before {
  content: "";
}

.fa-expand::before {
  content: "";
}

.fa-compress::before {
  content: "";
}

.fa-plus::before {
  content: "";
}

.fa-minus::before {
  content: "";
}

.fa-asterisk::before {
  content: "";
}

.fa-exclamation-circle::before {
  content: "";
}

.fa-gift::before {
  content: "";
}

.fa-leaf::before {
  content: "";
}

.fa-fire::before {
  content: "";
}

.fa-eye::before {
  content: "";
}

.fa-eye-slash::before {
  content: "";
}

.fa-warning::before,
.fa-exclamation-triangle::before {
  content: "";
}

.fa-plane::before {
  content: "";
}

.fa-calendar::before {
  content: "";
}

.fa-random::before {
  content: "";
}

.fa-comment::before {
  content: "";
}

.fa-magnet::before {
  content: "";
}

.fa-chevron-up::before {
  content: "";
}

.fa-chevron-down::before {
  content: "";
}

.fa-retweet::before {
  content: "";
}

.fa-shopping-cart::before {
  content: "";
}

.fa-folder::before {
  content: "";
}

.fa-folder-open::before {
  content: "";
}

.fa-arrows-v::before {
  content: "";
}

.fa-arrows-h::before {
  content: "";
}

.fa-bar-chart-o::before,
.fa-bar-chart::before {
  content: "";
}

.fa-twitter-square::before {
  content: "";
}

.fa-facebook-square::before {
  content: "";
}

.fa-camera-retro::before {
  content: "";
}

.fa-key::before {
  content: "";
}

.fa-gears::before,
.fa-cogs::before {
  content: "";
}

.fa-comments::before {
  content: "";
}

.fa-thumbs-o-up::before {
  content: "";
}

.fa-thumbs-o-down::before {
  content: "";
}

.fa-star-half::before {
  content: "";
}

.fa-heart-o::before {
  content: "";
}

.fa-sign-out::before {
  content: "";
}

.fa-linkedin-square::before {
  content: "";
}

.fa-thumb-tack::before {
  content: "";
}

.fa-external-link::before {
  content: "";
}

.fa-sign-in::before {
  content: "";
}

.fa-trophy::before {
  content: "";
}

.fa-github-square::before {
  content: "";
}

.fa-upload::before {
  content: "";
}

.fa-lemon-o::before {
  content: "";
}

.fa-phone::before {
  content: "";
}

.fa-square-o::before {
  content: "";
}

.fa-bookmark-o::before {
  content: "";
}

.fa-phone-square::before {
  content: "";
}

.fa-twitter::before {
  content: "";
}

.fa-facebook-f::before,
.fa-facebook::before {
  content: "";
}

.fa-github::before {
  content: "";
}

.fa-unlock::before {
  content: "";
}

.fa-credit-card::before {
  content: "";
}

.fa-feed::before,
.fa-rss::before {
  content: "";
}

.fa-hdd-o::before {
  content: "";
}

.fa-bullhorn::before {
  content: "";
}

.fa-bell::before {
  content: "";
}

.fa-certificate::before {
  content: "";
}

.fa-hand-o-right::before {
  content: "";
}

.fa-hand-o-left::before {
  content: "";
}

.fa-hand-o-up::before {
  content: "";
}

.fa-hand-o-down::before {
  content: "";
}

.fa-arrow-circle-left::before {
  content: "";
}

.fa-arrow-circle-right::before {
  content: "";
}

.fa-arrow-circle-up::before {
  content: "";
}

.fa-arrow-circle-down::before {
  content: "";
}

.fa-globe::before {
  content: "";
}

.fa-wrench::before {
  content: "";
}

.fa-tasks::before {
  content: "";
}

.fa-filter::before {
  content: "";
}

.fa-briefcase::before {
  content: "";
}

.fa-arrows-alt::before {
  content: "";
}

.fa-group::before,
.fa-users::before {
  content: "";
}

.fa-chain::before,
.fa-link::before {
  content: "";
}

.fa-cloud::before {
  content: "";
}

.fa-flask::before {
  content: "";
}

.fa-cut::before,
.fa-scissors::before {
  content: "";
}

.fa-copy::before,
.fa-files-o::before {
  content: "";
}

.fa-paperclip::before {
  content: "";
}

.fa-save::before,
.fa-floppy-o::before {
  content: "";
}

.fa-square::before {
  content: "";
}

.fa-navicon::before,
.fa-reorder::before,
.fa-bars::before {
  content: "";
}

.fa-list-ul::before {
  content: "";
}

.fa-list-ol::before {
  content: "";
}

.fa-strikethrough::before {
  content: "";
}

.fa-underline::before {
  content: "";
}

.fa-table::before {
  content: "";
}

.fa-magic::before {
  content: "";
}

.fa-truck::before {
  content: "";
}

.fa-pinterest::before {
  content: "";
}

.fa-pinterest-square::before {
  content: "";
}

.fa-google-plus-square::before {
  content: "";
}

.fa-google-plus::before {
  content: "";
}

.fa-money::before {
  content: "";
}

.fa-caret-down::before {
  content: "";
}

.fa-caret-up::before {
  content: "";
}

.fa-caret-left::before {
  content: "";
}

.fa-caret-right::before {
  content: "";
}

.fa-columns::before {
  content: "";
}

.fa-unsorted::before,
.fa-sort::before {
  content: "";
}

.fa-sort-down::before,
.fa-sort-desc::before {
  content: "";
}

.fa-sort-up::before,
.fa-sort-asc::before {
  content: "";
}

.fa-envelope::before {
  content: "";
}

.fa-linkedin::before {
  content: "";
}

.fa-rotate-left::before,
.fa-undo::before {
  content: "";
}

.fa-legal::before,
.fa-gavel::before {
  content: "";
}

.fa-dashboard::before,
.fa-tachometer::before {
  content: "";
}

.fa-comment-o::before {
  content: "";
}

.fa-comments-o::before {
  content: "";
}

.fa-flash::before,
.fa-bolt::before {
  content: "";
}

.fa-sitemap::before {
  content: "";
}

.fa-umbrella::before {
  content: "";
}

.fa-paste::before,
.fa-clipboard::before {
  content: "";
}

.fa-lightbulb-o::before {
  content: "";
}

.fa-exchange::before {
  content: "";
}

.fa-cloud-download::before {
  content: "";
}

.fa-cloud-upload::before {
  content: "";
}

.fa-user-md::before {
  content: "";
}

.fa-stethoscope::before {
  content: "";
}

.fa-suitcase::before {
  content: "";
}

.fa-bell-o::before {
  content: "";
}

.fa-coffee::before {
  content: "";
}

.fa-cutlery::before {
  content: "";
}

.fa-file-text-o::before {
  content: "";
}

.fa-building-o::before {
  content: "";
}

.fa-hospital-o::before {
  content: "";
}

.fa-ambulance::before {
  content: "";
}

.fa-medkit::before {
  content: "";
}

.fa-fighter-jet::before {
  content: "";
}

.fa-beer::before {
  content: "";
}

.fa-h-square::before {
  content: "";
}

.fa-plus-square::before {
  content: "";
}

.fa-angle-double-left::before {
  content: "";
}

.fa-angle-double-right::before {
  content: "";
}

.fa-angle-double-up::before {
  content: "";
}

.fa-angle-double-down::before {
  content: "";
}

.fa-angle-left::before {
  content: "";
}

.fa-angle-right::before {
  content: "";
}

.fa-angle-up::before {
  content: "";
}

.fa-angle-down::before {
  content: "";
}

.fa-desktop::before {
  content: "";
}

.fa-laptop::before {
  content: "";
}

.fa-tablet::before {
  content: "";
}

.fa-mobile-phone::before,
.fa-mobile::before {
  content: "";
}

.fa-circle-o::before {
  content: "";
}

.fa-quote-left::before {
  content: "";
}

.fa-quote-right::before {
  content: "";
}

.fa-spinner::before {
  content: "";
}

.fa-circle::before {
  content: "";
}

.fa-mail-reply::before,
.fa-reply::before {
  content: "";
}

.fa-github-alt::before {
  content: "";
}

.fa-folder-o::before {
  content: "";
}

.fa-folder-open-o::before {
  content: "";
}

.fa-smile-o::before {
  content: "";
}

.fa-frown-o::before {
  content: "";
}

.fa-meh-o::before {
  content: "";
}

.fa-gamepad::before {
  content: "";
}

.fa-keyboard-o::before {
  content: "";
}

.fa-flag-o::before {
  content: "";
}

.fa-flag-checkered::before {
  content: "";
}

.fa-terminal::before {
  content: "";
}

.fa-code::before {
  content: "";
}

.fa-mail-reply-all::before,
.fa-reply-all::before {
  content: "";
}

.fa-star-half-empty::before,
.fa-star-half-full::before,
.fa-star-half-o::before {
  content: "";
}

.fa-location-arrow::before {
  content: "";
}

.fa-crop::before {
  content: "";
}

.fa-code-fork::before {
  content: "";
}

.fa-unlink::before,
.fa-chain-broken::before {
  content: "";
}

.fa-question::before {
  content: "";
}

.fa-info::before {
  content: "";
}

.fa-exclamation::before {
  content: "";
}

.fa-superscript::before {
  content: "";
}

.fa-subscript::before {
  content: "";
}

.fa-eraser::before {
  content: "";
}

.fa-puzzle-piece::before {
  content: "";
}

.fa-microphone::before {
  content: "";
}

.fa-microphone-slash::before {
  content: "";
}

.fa-shield::before {
  content: "";
}

.fa-calendar-o::before {
  content: "";
}

.fa-fire-extinguisher::before {
  content: "";
}

.fa-rocket::before {
  content: "";
}

.fa-maxcdn::before {
  content: "";
}

.fa-chevron-circle-left::before {
  content: "";
}

.fa-chevron-circle-right::before {
  content: "";
}

.fa-chevron-circle-up::before {
  content: "";
}

.fa-chevron-circle-down::before {
  content: "";
}

.fa-html5::before {
  content: "";
}

.fa-css3::before {
  content: "";
}

.fa-anchor::before {
  content: "";
}

.fa-unlock-alt::before {
  content: "";
}

.fa-bullseye::before {
  content: "";
}

.fa-ellipsis-h::before {
  content: "";
}

.fa-ellipsis-v::before {
  content: "";
}

.fa-rss-square::before {
  content: "";
}

.fa-play-circle::before {
  content: "";
}

.fa-ticket::before {
  content: "";
}

.fa-minus-square::before {
  content: "";
}

.fa-minus-square-o::before {
  content: "";
}

.fa-level-up::before {
  content: "";
}

.fa-level-down::before {
  content: "";
}

.fa-check-square::before {
  content: "";
}

.fa-pencil-square::before {
  content: "";
}

.fa-external-link-square::before {
  content: "";
}

.fa-share-square::before {
  content: "";
}

.fa-compass::before {
  content: "";
}

.fa-toggle-down::before,
.fa-caret-square-o-down::before {
  content: "";
}

.fa-toggle-up::before,
.fa-caret-square-o-up::before {
  content: "";
}

.fa-toggle-right::before,
.fa-caret-square-o-right::before {
  content: "";
}

.fa-euro::before,
.fa-eur::before {
  content: "";
}

.fa-gbp::before {
  content: "";
}

.fa-dollar::before,
.fa-usd::before {
  content: "";
}

.fa-rupee::before,
.fa-inr::before {
  content: "";
}

.fa-cny::before,
.fa-rmb::before,
.fa-yen::before,
.fa-jpy::before {
  content: "";
}

.fa-ruble::before,
.fa-rouble::before,
.fa-rub::before {
  content: "";
}

.fa-won::before,
.fa-krw::before {
  content: "";
}

.fa-bitcoin::before,
.fa-btc::before {
  content: "";
}

.fa-file::before {
  content: "";
}

.fa-file-text::before {
  content: "";
}

.fa-sort-alpha-asc::before {
  content: "";
}

.fa-sort-alpha-desc::before {
  content: "";
}

.fa-sort-amount-asc::before {
  content: "";
}

.fa-sort-amount-desc::before {
  content: "";
}

.fa-sort-numeric-asc::before {
  content: "";
}

.fa-sort-numeric-desc::before {
  content: "";
}

.fa-thumbs-up::before {
  content: "";
}

.fa-thumbs-down::before {
  content: "";
}

.fa-youtube-square::before {
  content: "";
}

.fa-youtube::before {
  content: "";
}

.fa-xing::before {
  content: "";
}

.fa-xing-square::before {
  content: "";
}

.fa-youtube-play::before {
  content: "";
}

.fa-dropbox::before {
  content: "";
}

.fa-stack-overflow::before {
  content: "";
}

.fa-instagram::before {
  content: "";
}

.fa-flickr::before {
  content: "";
}

.fa-adn::before {
  content: "";
}

.fa-bitbucket::before {
  content: "";
}

.fa-bitbucket-square::before {
  content: "";
}

.fa-tumblr::before {
  content: "";
}

.fa-tumblr-square::before {
  content: "";
}

.fa-long-arrow-down::before {
  content: "";
}

.fa-long-arrow-up::before {
  content: "";
}

.fa-long-arrow-left::before {
  content: "";
}

.fa-long-arrow-right::before {
  content: "";
}

.fa-apple::before {
  content: "";
}

.fa-windows::before {
  content: "";
}

.fa-android::before {
  content: "";
}

.fa-linux::before {
  content: "";
}

.fa-dribbble::before {
  content: "";
}

.fa-skype::before {
  content: "";
}

.fa-foursquare::before {
  content: "";
}

.fa-trello::before {
  content: "";
}

.fa-female::before {
  content: "";
}

.fa-male::before {
  content: "";
}

.fa-gittip::before,
.fa-gratipay::before {
  content: "";
}

.fa-sun-o::before {
  content: "";
}

.fa-moon-o::before {
  content: "";
}

.fa-archive::before {
  content: "";
}

.fa-bug::before {
  content: "";
}

.fa-vk::before {
  content: "";
}

.fa-weibo::before {
  content: "";
}

.fa-renren::before {
  content: "";
}

.fa-pagelines::before {
  content: "";
}

.fa-stack-exchange::before {
  content: "";
}

.fa-arrow-circle-o-right::before {
  content: "";
}

.fa-arrow-circle-o-left::before {
  content: "";
}

.fa-toggle-left::before,
.fa-caret-square-o-left::before {
  content: "";
}

.fa-dot-circle-o::before {
  content: "";
}

.fa-wheelchair::before {
  content: "";
}

.fa-vimeo-square::before {
  content: "";
}

.fa-turkish-lira::before,
.fa-try::before {
  content: "";
}

.fa-plus-square-o::before {
  content: "";
}

.fa-space-shuttle::before {
  content: "";
}

.fa-slack::before {
  content: "";
}

.fa-envelope-square::before {
  content: "";
}

.fa-wordpress::before {
  content: "";
}

.fa-openid::before {
  content: "";
}

.fa-institution::before,
.fa-bank::before,
.fa-university::before {
  content: "";
}

.fa-mortar-board::before,
.fa-graduation-cap::before {
  content: "";
}

.fa-yahoo::before {
  content: "";
}

.fa-google::before {
  content: "";
}

.fa-reddit::before {
  content: "";
}

.fa-reddit-square::before {
  content: "";
}

.fa-stumbleupon-circle::before {
  content: "";
}

.fa-stumbleupon::before {
  content: "";
}

.fa-delicious::before {
  content: "";
}

.fa-digg::before {
  content: "";
}

.fa-pied-piper-pp::before {
  content: "";
}

.fa-pied-piper-alt::before {
  content: "";
}

.fa-drupal::before {
  content: "";
}

.fa-joomla::before {
  content: "";
}

.fa-language::before {
  content: "";
}

.fa-fax::before {
  content: "";
}

.fa-building::before {
  content: "";
}

.fa-child::before {
  content: "";
}

.fa-paw::before {
  content: "";
}

.fa-spoon::before {
  content: "";
}

.fa-cube::before {
  content: "";
}

.fa-cubes::before {
  content: "";
}

.fa-behance::before {
  content: "";
}

.fa-behance-square::before {
  content: "";
}

.fa-steam::before {
  content: "";
}

.fa-steam-square::before {
  content: "";
}

.fa-recycle::before {
  content: "";
}

.fa-automobile::before,
.fa-car::before {
  content: "";
}

.fa-cab::before,
.fa-taxi::before {
  content: "";
}

.fa-tree::before {
  content: "";
}

.fa-spotify::before {
  content: "";
}

.fa-deviantart::before {
  content: "";
}

.fa-soundcloud::before {
  content: "";
}

.fa-database::before {
  content: "";
}

.fa-file-pdf-o::before {
  content: "";
}

.fa-file-word-o::before {
  content: "";
}

.fa-file-excel-o::before {
  content: "";
}

.fa-file-powerpoint-o::before {
  content: "";
}

.fa-file-photo-o::before,
.fa-file-picture-o::before,
.fa-file-image-o::before {
  content: "";
}

.fa-file-zip-o::before,
.fa-file-archive-o::before {
  content: "";
}

.fa-file-sound-o::before,
.fa-file-audio-o::before {
  content: "";
}

.fa-file-movie-o::before,
.fa-file-video-o::before {
  content: "";
}

.fa-file-code-o::before {
  content: "";
}

.fa-vine::before {
  content: "";
}

.fa-codepen::before {
  content: "";
}

.fa-jsfiddle::before {
  content: "";
}

.fa-life-bouy::before,
.fa-life-buoy::before,
.fa-life-saver::before,
.fa-support::before,
.fa-life-ring::before {
  content: "";
}

.fa-circle-o-notch::before {
  content: "";
}

.fa-ra::before,
.fa-resistance::before,
.fa-rebel::before {
  content: "";
}

.fa-ge::before,
.fa-empire::before {
  content: "";
}

.fa-git-square::before {
  content: "";
}

.fa-git::before {
  content: "";
}

.fa-y-combinator-square::before,
.fa-yc-square::before,
.fa-hacker-news::before {
  content: "";
}

.fa-tencent-weibo::before {
  content: "";
}

.fa-qq::before {
  content: "";
}

.fa-wechat::before,
.fa-weixin::before {
  content: "";
}

.fa-send::before,
.fa-paper-plane::before {
  content: "";
}

.fa-send-o::before,
.fa-paper-plane-o::before {
  content: "";
}

.fa-history::before {
  content: "";
}

.fa-circle-thin::before {
  content: "";
}

.fa-header::before {
  content: "";
}

.fa-paragraph::before {
  content: "";
}

.fa-sliders::before {
  content: "";
}

.fa-share-alt::before {
  content: "";
}

.fa-share-alt-square::before {
  content: "";
}

.fa-bomb::before {
  content: "";
}

.fa-soccer-ball-o::before,
.fa-futbol-o::before {
  content: "";
}

.fa-tty::before {
  content: "";
}

.fa-binoculars::before {
  content: "";
}

.fa-plug::before {
  content: "";
}

.fa-slideshare::before {
  content: "";
}

.fa-twitch::before {
  content: "";
}

.fa-yelp::before {
  content: "";
}

.fa-newspaper-o::before {
  content: "";
}

.fa-wifi::before {
  content: "";
}

.fa-calculator::before {
  content: "";
}

.fa-paypal::before {
  content: "";
}

.fa-google-wallet::before {
  content: "";
}

.fa-cc-visa::before {
  content: "";
}

.fa-cc-mastercard::before {
  content: "";
}

.fa-cc-discover::before {
  content: "";
}

.fa-cc-amex::before {
  content: "";
}

.fa-cc-paypal::before {
  content: "";
}

.fa-cc-stripe::before {
  content: "";
}

.fa-bell-slash::before {
  content: "";
}

.fa-bell-slash-o::before {
  content: "";
}

.fa-trash::before {
  content: "";
}

.fa-copyright::before {
  content: "";
}

.fa-at::before {
  content: "";
}

.fa-eyedropper::before {
  content: "";
}

.fa-paint-brush::before {
  content: "";
}

.fa-birthday-cake::before {
  content: "";
}

.fa-area-chart::before {
  content: "";
}

.fa-pie-chart::before {
  content: "";
}

.fa-line-chart::before {
  content: "";
}

.fa-lastfm::before {
  content: "";
}

.fa-lastfm-square::before {
  content: "";
}

.fa-toggle-off::before {
  content: "";
}

.fa-toggle-on::before {
  content: "";
}

.fa-bicycle::before {
  content: "";
}

.fa-bus::before {
  content: "";
}

.fa-ioxhost::before {
  content: "";
}

.fa-angellist::before {
  content: "";
}

.fa-cc::before {
  content: "";
}

.fa-shekel::before,
.fa-sheqel::before,
.fa-ils::before {
  content: "";
}

.fa-meanpath::before {
  content: "";
}

.fa-buysellads::before {
  content: "";
}

.fa-connectdevelop::before {
  content: "";
}

.fa-dashcube::before {
  content: "";
}

.fa-forumbee::before {
  content: "";
}

.fa-leanpub::before {
  content: "";
}

.fa-sellsy::before {
  content: "";
}

.fa-shirtsinbulk::before {
  content: "";
}

.fa-simplybuilt::before {
  content: "";
}

.fa-skyatlas::before {
  content: "";
}

.fa-cart-plus::before {
  content: "";
}

.fa-cart-arrow-down::before {
  content: "";
}

.fa-diamond::before {
  content: "";
}

.fa-ship::before {
  content: "";
}

.fa-user-secret::before {
  content: "";
}

.fa-motorcycle::before {
  content: "";
}

.fa-street-view::before {
  content: "";
}

.fa-heartbeat::before {
  content: "";
}

.fa-venus::before {
  content: "";
}

.fa-mars::before {
  content: "";
}

.fa-mercury::before {
  content: "";
}

.fa-intersex::before,
.fa-transgender::before {
  content: "";
}

.fa-transgender-alt::before {
  content: "";
}

.fa-venus-double::before {
  content: "";
}

.fa-mars-double::before {
  content: "";
}

.fa-venus-mars::before {
  content: "";
}

.fa-mars-stroke::before {
  content: "";
}

.fa-mars-stroke-v::before {
  content: "";
}

.fa-mars-stroke-h::before {
  content: "";
}

.fa-neuter::before {
  content: "";
}

.fa-genderless::before {
  content: "";
}

.fa-facebook-official::before {
  content: "";
}

.fa-pinterest-p::before {
  content: "";
}

.fa-whatsapp::before {
  content: "";
}

.fa-server::before {
  content: "";
}

.fa-user-plus::before {
  content: "";
}

.fa-user-times::before {
  content: "";
}

.fa-hotel::before,
.fa-bed::before {
  content: "";
}

.fa-viacoin::before {
  content: "";
}

.fa-train::before {
  content: "";
}

.fa-subway::before {
  content: "";
}

.fa-medium::before {
  content: "";
}

.fa-yc::before,
.fa-y-combinator::before {
  content: "";
}

.fa-optin-monster::before {
  content: "";
}

.fa-opencart::before {
  content: "";
}

.fa-expeditedssl::before {
  content: "";
}

.fa-battery-4::before,
.fa-battery::before,
.fa-battery-full::before {
  content: "";
}

.fa-battery-3::before,
.fa-battery-three-quarters::before {
  content: "";
}

.fa-battery-2::before,
.fa-battery-half::before {
  content: "";
}

.fa-battery-1::before,
.fa-battery-quarter::before {
  content: "";
}

.fa-battery-0::before,
.fa-battery-empty::before {
  content: "";
}

.fa-mouse-pointer::before {
  content: "";
}

.fa-i-cursor::before {
  content: "";
}

.fa-object-group::before {
  content: "";
}

.fa-object-ungroup::before {
  content: "";
}

.fa-sticky-note::before {
  content: "";
}

.fa-sticky-note-o::before {
  content: "";
}

.fa-cc-jcb::before {
  content: "";
}

.fa-cc-diners-club::before {
  content: "";
}

.fa-clone::before {
  content: "";
}

.fa-balance-scale::before {
  content: "";
}

.fa-hourglass-o::before {
  content: "";
}

.fa-hourglass-1::before,
.fa-hourglass-start::before {
  content: "";
}

.fa-hourglass-2::before,
.fa-hourglass-half::before {
  content: "";
}

.fa-hourglass-3::before,
.fa-hourglass-end::before {
  content: "";
}

.fa-hourglass::before {
  content: "";
}

.fa-hand-grab-o::before,
.fa-hand-rock-o::before {
  content: "";
}

.fa-hand-stop-o::before,
.fa-hand-paper-o::before {
  content: "";
}

.fa-hand-scissors-o::before {
  content: "";
}

.fa-hand-lizard-o::before {
  content: "";
}

.fa-hand-spock-o::before {
  content: "";
}

.fa-hand-pointer-o::before {
  content: "";
}

.fa-hand-peace-o::before {
  content: "";
}

.fa-trademark::before {
  content: "";
}

.fa-registered::before {
  content: "";
}

.fa-creative-commons::before {
  content: "";
}

.fa-gg::before {
  content: "";
}

.fa-gg-circle::before {
  content: "";
}

.fa-tripadvisor::before {
  content: "";
}

.fa-odnoklassniki::before {
  content: "";
}

.fa-odnoklassniki-square::before {
  content: "";
}

.fa-get-pocket::before {
  content: "";
}

.fa-wikipedia-w::before {
  content: "";
}

.fa-safari::before {
  content: "";
}

.fa-chrome::before {
  content: "";
}

.fa-firefox::before {
  content: "";
}

.fa-opera::before {
  content: "";
}

.fa-internet-explorer::before {
  content: "";
}

.fa-tv::before,
.fa-television::before {
  content: "";
}

.fa-contao::before {
  content: "";
}

.fa-500px::before {
  content: "";
}

.fa-amazon::before {
  content: "";
}

.fa-calendar-plus-o::before {
  content: "";
}

.fa-calendar-minus-o::before {
  content: "";
}

.fa-calendar-times-o::before {
  content: "";
}

.fa-calendar-check-o::before {
  content: "";
}

.fa-industry::before {
  content: "";
}

.fa-map-pin::before {
  content: "";
}

.fa-map-signs::before {
  content: "";
}

.fa-map-o::before {
  content: "";
}

.fa-map::before {
  content: "";
}

.fa-commenting::before {
  content: "";
}

.fa-commenting-o::before {
  content: "";
}

.fa-houzz::before {
  content: "";
}

.fa-vimeo::before {
  content: "";
}

.fa-black-tie::before {
  content: "";
}

.fa-fonticons::before {
  content: "";
}

.fa-reddit-alien::before {
  content: "";
}

.fa-edge::before {
  content: "";
}

.fa-credit-card-alt::before {
  content: "";
}

.fa-codiepie::before {
  content: "";
}

.fa-modx::before {
  content: "";
}

.fa-fort-awesome::before {
  content: "";
}

.fa-usb::before {
  content: "";
}

.fa-product-hunt::before {
  content: "";
}

.fa-mixcloud::before {
  content: "";
}

.fa-scribd::before {
  content: "";
}

.fa-pause-circle::before {
  content: "";
}

.fa-pause-circle-o::before {
  content: "";
}

.fa-stop-circle::before {
  content: "";
}

.fa-stop-circle-o::before {
  content: "";
}

.fa-shopping-bag::before {
  content: "";
}

.fa-shopping-basket::before {
  content: "";
}

.fa-hashtag::before {
  content: "";
}

.fa-bluetooth::before {
  content: "";
}

.fa-bluetooth-b::before {
  content: "";
}

.fa-percent::before {
  content: "";
}

.fa-gitlab::before {
  content: "";
}

.fa-wpbeginner::before {
  content: "";
}

.fa-wpforms::before {
  content: "";
}

.fa-envira::before {
  content: "";
}

.fa-universal-access::before {
  content: "";
}

.fa-wheelchair-alt::before {
  content: "";
}

.fa-question-circle-o::before {
  content: "";
}

.fa-blind::before {
  content: "";
}

.fa-audio-description::before {
  content: "";
}

.fa-volume-control-phone::before {
  content: "";
}

.fa-braille::before {
  content: "";
}

.fa-assistive-listening-systems::before {
  content: "";
}

.fa-asl-interpreting::before,
.fa-american-sign-language-interpreting::before {
  content: "";
}

.fa-deafness::before,
.fa-hard-of-hearing::before,
.fa-deaf::before {
  content: "";
}

.fa-glide::before {
  content: "";
}

.fa-glide-g::before {
  content: "";
}

.fa-signing::before,
.fa-sign-language::before {
  content: "";
}

.fa-low-vision::before {
  content: "";
}

.fa-viadeo::before {
  content: "";
}

.fa-viadeo-square::before {
  content: "";
}

.fa-snapchat::before {
  content: "";
}

.fa-snapchat-ghost::before {
  content: "";
}

.fa-snapchat-square::before {
  content: "";
}

.fa-pied-piper::before {
  content: "";
}

.fa-first-order::before {
  content: "";
}

.fa-yoast::before {
  content: "";
}

.fa-themeisle::before {
  content: "";
}

.fa-google-plus-circle::before,
.fa-google-plus-official::before {
  content: "";
}

.fa-fa::before,
.fa-font-awesome::before {
  content: "";
}

.fa-handshake-o::before {
  content: "";
}

.fa-envelope-open::before {
  content: "";
}

.fa-envelope-open-o::before {
  content: "";
}

.fa-linode::before {
  content: "";
}

.fa-address-book::before {
  content: "";
}

.fa-address-book-o::before {
  content: "";
}

.fa-vcard::before,
.fa-address-card::before {
  content: "";
}

.fa-vcard-o::before,
.fa-address-card-o::before {
  content: "";
}

.fa-user-circle::before {
  content: "";
}

.fa-user-circle-o::before {
  content: "";
}

.fa-user-o::before {
  content: "";
}

.fa-id-badge::before {
  content: "";
}

.fa-drivers-license::before,
.fa-id-card::before {
  content: "";
}

.fa-drivers-license-o::before,
.fa-id-card-o::before {
  content: "";
}

.fa-quora::before {
  content: "";
}

.fa-free-code-camp::before {
  content: "";
}

.fa-telegram::before {
  content: "";
}

.fa-thermometer-4::before,
.fa-thermometer::before,
.fa-thermometer-full::before {
  content: "";
}

.fa-thermometer-3::before,
.fa-thermometer-three-quarters::before {
  content: "";
}

.fa-thermometer-2::before,
.fa-thermometer-half::before {
  content: "";
}

.fa-thermometer-1::before,
.fa-thermometer-quarter::before {
  content: "";
}

.fa-thermometer-0::before,
.fa-thermometer-empty::before {
  content: "";
}

.fa-shower::before {
  content: "";
}

.fa-bathtub::before,
.fa-s15::before,
.fa-bath::before {
  content: "";
}

.fa-podcast::before {
  content: "";
}

.fa-window-maximize::before {
  content: "";
}

.fa-window-minimize::before {
  content: "";
}

.fa-window-restore::before {
  content: "";
}

.fa-times-rectangle::before,
.fa-window-close::before {
  content: "";
}

.fa-times-rectangle-o::before,
.fa-window-close-o::before {
  content: "";
}

.fa-bandcamp::before {
  content: "";
}

.fa-grav::before {
  content: "";
}

.fa-etsy::before {
  content: "";
}

.fa-imdb::before {
  content: "";
}

.fa-ravelry::before {
  content: "";
}

.fa-eercast::before {
  content: "";
}

.fa-microchip::before {
  content: "";
}

.fa-snowflake-o::before {
  content: "";
}

.fa-superpowers::before {
  content: "";
}

.fa-wpexplorer::before {
  content: "";
}

.fa-meetup::before {
  content: "";
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-right: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox .checkmark {
  position: absolute;
  top: 4px;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #d4d4d4;
}
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 10px;
  top: 4px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.custom-checkbox .checkmark:hover {
  background-color: #ccc;
}

.btn.btn-xs {
  padding: 0.15rem 0.3rem;
  font-size: 0.85rem;
  line-height: 1.4;
  border-radius: 0.2rem;
}

.reset-btn {
  float: right;
  top: -12px;
  right: 4px;
  position: relative;
}

.tune {
  padding: 10px;
}
.tune .inner {
  height: 100%;
  border: 1px solid black;
  padding: 10px;
}
.tune .inner h5, .tune .inner p {
  text-align: center;
}
.tune .inner table td {
  font-size: 0.9rem;
}
.tune .inner table td.selector {
  width: 45px;
}
.tune .inner table td.selector .custom-checkbox {
  width: 0;
}
.tune .inner table td.selector .custom-checkbox .checkmark {
  top: -2px;
  right: -5px;
}

#user-selections {
  position: fixed;
  bottom: 0;
  background-color: #2b2b2b;
  left: 50%;
  transform: translateX(-50%) translateY(calc(100% - 48px));
  color: white;
  min-width: 300px;
  transition: transform 1s;
}
#user-selections.open {
  transform: translateX(-50%);
}
#user-selections header {
  padding: 10px 20px 0 20px;
  border-bottom: 1px solid;
  cursor: pointer;
}
#user-selections header:hover {
  background-color: #4c4c4c;
}
#user-selections section {
  padding: 5px 20px 20px 20px;
}
#user-selections .user-selections-title {
  font-size: 1.5rem;
}
#user-selections .user-selections-tunes {
  margin: 0;
}
#user-selections .user-selections-tunes li a {
  text-decoration: none;
  color: white;
}
#user-selections .user-selections-tunes li a:hover {
  color: blue;
}
#user-selections .user-selections-tunes li p {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

#users-edit #available-schedules .day {
  background: #d8d8d8;
  padding-top: 5px;
}
#users-edit #available-schedules .schedule {
  padding-top: 10px;
  padding-bottom: 10px;
}
#users-edit #available-schedules .schedule:nth-child(2) {
  background: #ffdfd7;
}
#users-edit #available-schedules .schedule:nth-child(3) {
  background: #d7e0ff;
}
#users-edit .bootstrap-select {
  width: 100%;
}

.table-schedule .legend .legend-item {
  padding: 7px 15px;
  margin-right: 10px;
}
.table-schedule .legend .legend-red {
  background-color: red;
}
.table-schedule .legend .legend-white {
  background-color: white;
}
.table-schedule .legend .legend-grey {
  background-color: grey;
}
.table-schedule table thead tr th {
  font-size: 14px;
}
.table-schedule table tbody tr td p {
  margin: 0;
}
.table-schedule table tbody .handle-sortable {
  cursor: move;
}
.table-schedule table tbody td:not(.handle-sortable) {
  min-width: 65px;
}
.table-schedule table tbody .ui-sortable-placeholder {
  height: 51px;
}
.table-schedule table tbody .matches {
  background-color: red;
}
.table-schedule table tbody .excluded {
  background-color: #bebebe;
}
.table-schedule table tbody .tune-name {
  font-size: 14px;
  min-width: 200px;
}
.table-schedule table tbody .tune-name span {
  font-size: 12px;
}
.table-schedule table tbody .tune-name span::before {
  content: "\a";
  white-space: pre;
}
.table-schedule table tbody .tune-schedule {
  font-size: 12px;
  min-width: 85px;
  text-align: center;
}

.breadcrumb {
  align-items: center;
}
.breadcrumb li {
  margin: 0 5px;
}

.forum-nav-pills {
  padding: 20px 0;
}
.forum-nav-pills li a {
  padding: 12px 17px;
  border-radius: 5px;
  background-color: #006eff;
  color: white;
}
.forum-nav-pills li a:hover {
  text-decoration: none;
}
.forum-nav-pills li a[href="/forum/reports"] {
  display: none;
}

.forum-posts .panel {
  background-color: #f3f3f3;
  border: 1px solid #ededed;
  border-radius: 5px;
  margin-bottom: 15px;
}
.forum-posts .panel .panel-heading {
  padding: 10px 20px 5px;
  font-size: 12px;
  border-bottom: 1px solid #dbdbdb;
}
.forum-posts .panel .panel-heading span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.forum-posts .panel .panel-heading .pull-right {
  margin-left: 10px;
}
.forum-posts .panel .panel-body {
  padding: 15px 20px;
}
.forum-posts .panel .panel-body blockquote {
  margin-left: 25px;
  position: relative;
  display: inline-block;
  color: grey;
}
.forum-posts .panel .panel-body blockquote:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  left: -25px;
  position: absolute;
}
.forum-posts .panel .panel-body blockquote:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  bottom: 0;
  right: -25px;
}

/*# sourceMappingURL=styles.css.map */
