.container-page {
    margin-top: 60px;
}

.cake-debug-output,.cake-error {
    margin-top: 85px;
}

.tuneName {
    font-size: 18px;
}

/*override bootstrap*/
.error .control-label {
    color: #a94442;
}
.error .help-inline {
    color: #a94442;
}
.error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/*isotope*/
.grid-item {
    width: 25%;
    height: 350px;
    padding: 10px;
}
.inner {
    border: solid 1px #000;
    height: 330px;
    padding: 5px 10px;
}
.inner h3 {
    text-align: center;
    margin-top: 12px;
}
.inner h4 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}

/*Tune select*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
}
.table-select .instrument{
    width: 50%;
}
.table-select .musician{
    width: 40%;
    text-align: left;
    color: red;
}
.table-select .checker {
    width: 10%;
    text-align: right;
}
.table-select .checkbox {
    margin: 0;
    display: table-cell;
}
.selectable-div {
    background-color: #efefef;
}

/*Panel*/
#panel-right {
    position: fixed;
    top: 170px;
    right: -252px;
    width: 290px;
}
.panel-icon {
    float: left;
    background-color: black;
    padding: 7px 10px;
    cursor: pointer;
}
.panel-icon .glyphicon {
    font-weight: bolder;
    color: #e0e0d9;
    font-size: 18px;
}
.panel-right-body {
    width: 252px;
    float: right;
    background-color: #e0e0d9;
}
.panel-right-body h3 {
    text-align: center;
    margin-top: 12px;
}
.panel-right-body ul {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}
.panel-right-body li {
    margin-bottom: 8px;
}
.panel-right-body li span {
    font-size: 15px;
    font-weight: 600;
}

/*Schedules*/
.schedule-color-0 {
    background-color: #faebd7;
}
.schedule-color-1 {
    background-color: #f0f8ff;
}
.schedule-label{
    padding: 0 15px 8px 15px;
}
.unavailable {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    background-color: #424242;
    color: #e6e6e6;
    border: 1px solid #fff;
}
.unavailable .checkbox {
    width: 20px;
    cursor: pointer;
    float: right;
    position: relative;
    top: -7px;
}

/*Schedules view*/
.schedules.view th, .schedules.view td {
    width: 33.333%;
}
.schedules.view th.last, .schedules.view td.last {
    text-align: right;
}

@media (max-width: 1200px ) {
    .grid-item {
        width: 33.3333%;
    }
}

@media (max-width: 768px  ) {
    .grid-item {
        width: 50%;
    }
}

@media (max-width: 550px  ) {
    .grid-item {
        width: 100%;
    }
}