<h1>Benvid@s á Jam Martiño Delas jam</h1>

<h3>IMPORTANTE</h3>
<p>Acordevos de cambiar o contrasinal!!</p>

<h3>Escollede os temas</h3>
<p>Pensade que somos moitos, e os primeiros en entrar na web terán ventaxa, así que non vos pasedes collendo temas. Non escollades os mais "guapos" e deixedes a "borralla" para os últimos...</p>

<h3>Tedes un foro</h3>
<p>Creade un só fío para cada canción (se creades varios por canción vai ser un lío).</p>
<p>Se tedes dudas de funcionamento, suxerencias, preguntas..... Hai un fío para iso, ou falade con Max ou con Cara</p>

<h2>A PASALO BEN!!</h2>